<div class="nav2">
      <div class="top">
          <h4  href="/"><a href="/pages/contact" class="text">CONTACT</a></h4>
          <a href="/"><img class="img"   src="{{ 'logo2.png' | asset_url }}" /></a>
          <h4 ><a class="text" href="/cart">CART({{cart.item_count}}) </a></h4>
      </div>

  </div>