    <div class="card">
        <a class="a"  href="{{ product.url }}">
            <img class="img" src="{{product.featured_image | image_url: width: 400 }}" />
          <div class="card-text">
            <h4 class="card-title">{{product.title}}</h4>
            <p class="card-p">{{product.price | money}}</p>
          </div>
        </a>
    </div>
 